
    
body{
    margin: 0;
}
.navbar{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.693);
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 3px;
}
.logo img,.menu-logo img{
    width: 30px;
    color: white;
}
.menu-logo,.icon,.logo-name,p{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}
.subscription *{
    width: 150px;
}
.logo-name{
    padding: 10px;
}
.icon{
    padding: 2px 10px;
}
h2{
    font-size: small;
}
.youtube-logo{
    width: 50px;
    height:20px;
}
.search-box{
    width: 30px;
}
