
    
body{
    margin: 0;
}
.navbar *{
    padding:1% 2% ;
    width:20% ;
}
.logo img,.menu-logo img{
    width: 30px;
}
.nav1{
    
}
.menu-logo,.icon,.logo-name,p{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}





