
    
body{
    margin: 0;
    overflow: hidden;
}
.total{
    display: flex;
    color: white;
}
.left{
    padding:10px 20px;
    width: 230px;
    background-color:rgba(0, 0, 0, 0.853);
}
.text1{
    width: 150px;
}
.icon{
    justify-content: space-between;
}
.icon img{
    width: 30px;
    filter: invert(1);
}
.menu-logo{
    display:flex;
}
.youtube-logo img{
    width: 80px;
}
.icon{
    display: flex;
    align-items: center;
    line-height: 9px;
}
.right{
    width:100%;
    padding: 10px 10px 0px 50px;
    background-color: rgba(0, 0, 0, 0.905);
}
.search-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 50px 5px 90px ;
}
.search-box img{
    width:30px;
    filter: invert(1);
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
}
.row1,.row2,.row3{
    display: flex;
    font-size: smaller;
    justify-content: space-evenly;
}
.views-ago img{
    width: 5px;
}
.logo-text{
    display: flex;
    align-items: center;
    margin-top:10px ;
    justify-content: center;
}
.logo-text.logo img{
    align-items: flex-start;
}